* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    direction: rtl;
}

.title-booking {
    text-align: center;
    font-size: 25px;
}

.icon-maxpark {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.calendar {
    flex: 1;
    margin-bottom: 20px;
}

.parking-lot-selection {
    margin-bottom: 20px;
}

.time-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }


#parkingReservationForm {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
}


.form-control {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}


select {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}


#submit-button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
}
