/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.modal-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.modal-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.modal-text {
    font-size: 12px;
    margin-bottom: 10px;
}

.modal-close-btn {
    color: white;
    float: right;
    font-weight: bold;
    background-color: #007bff;
    font-size: 20px;
    padding: 10px 36px;
    border-radius: 20px;
    cursor: pointer;
}

    .modal-close-btn:hover,
    .modal-close-btn:focus {
        color: #fff;
        background-color: #0062cc;
    }

.modal-hide-btn {
    color: #007bff;
    float: right;
