body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.top-section {
    background-color: rgba(200, 200, 200, 0.9); /* אפור בהיר כמעט שקוף */
    padding: 20px 0;
    text-align: center;
}

.logo-placeholder {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 800px;
    background-color: #e9ecef; /* אפור בהיר */
    padding: 10px;
    border-radius: 5px;
}

.custom-button {
    width: 23%;
    padding: 10px;
    background-color: #adb5bd; /* אפור בהיר */
    border: none;
    border-radius: 5px;
    text-align: center;
}

    .custom-button a {
        color: #212529; /* שחור */
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-button:hover {
        background-color: #868e96; /* אפור כהה */
    }

.icon {
    margin-left: 5px;
}

.orders-table {
    margin: 20px auto;
    max-width: 800px;
}

    .orders-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .orders-table th, .orders-table td {
        padding: 8px;
        border-bottom: 1px solid #dee2e6;
        text-align: center;
    }

    .orders-table th {
        background-color: #e9ecef; /* אפור בהיר */
    }

.order-approved {
    color: #28a745;
}

.order-rejected {
    color: #dc3545;
}

.order-pending {
    color: #ffc107;
}

tr.row-hover:hover td {
    animation-name: pulse;
    animation-duration: 1s;
}

@keyframes pulse {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgba(0, 128, 0, 0.1); /* ירוק בהיר שקוף */
    }

    100% {
        background-color: inherit;
    }
}

tr.row-hover-orange:hover td {
    animation-name: pulse-orange;
    animation-duration: 1s;
}

@keyframes pulse-orange {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgba(255, 165, 0, 0.1); /* כתום בהיר שקוף */
    }

    100% {
        background-color: inherit;
    }
}

tr.row-hover-red:hover td {
    animation-name: pulse-red;
    animation-duration: 1s;
}

@keyframes pulse-red {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgba(255, 0, 0, 0.1); /* אדום בהיר שקוף */
    }

    100% {
        background-color: inherit;
    }
}
