.logo-placeholder img {
    max-width: 100%;
    height: auto;
}

.button-group {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    margin: 20px auto;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.custom-button {
    flex: 1;
    margin: 5px;
}

    .custom-button a {
        display: block;
        padding: 10px;
        background-color: #adb5bd;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        color: #212529;
        font-weight: bold;
    }

        .custom-button a:hover {
            background-color: #868e96;
            color: #fff;
        }

.orders-table {
    margin: 20px auto;
    max-width: 100%;
    overflow-x: auto;
}

    .orders-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .orders-table th,
    .orders-table td {
        padding: 8px;
        border-bottom: 1px solid #dee2e6;
        text-align: center;
    }

    .orders-table th {
        background-color: #e9ecef;
    }

.order-approved {
    color: #28a745;
}

.order-rejected {
    color: #dc3545;
}

.order-pending {
    color: #ffc107;
}

.row-hover:hover td {
    animation-name: pulse;
    animation-duration: 1s;
}

@keyframes pulse {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgba(0, 128, 0, 0.1);
    }

    100% {
        background-color: inherit;
    }
}

.row-hover-orange:hover td {
    animation-name: pulse-orange;
    animation-duration: 1s;
}

@keyframes pulse-orange {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgba(255, 165, 0, 0.1);
    }

    100% {
        background-color: inherit;
    }
}

.row-hover-red:hover td {
    animation-name: pulse-red;
    animation-duration: 1s;
}

@keyframes pulse-red {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgba(255, 0, 0, 0.1);
    }

    100% {
        background-color: inherit;
    }
}
