/* Custom CSS for the Table */
#usersTable {
    width: 100%;
    margin-bottom: 20px;
}

    #usersTable th {
        padding: 12px;
        text-align: left;
    }

    #usersTable td {
        white-space: nowrap; /* Prevents text wrapping in table cells */
    }

    #usersTable tbody tr {
        height: 45px; /* Adjust the height as needed */
    }

    /* Highlight rows on hover */
    #usersTable tbody tr:hover {
        background-color: #e5e5e5;
    }

    #usersTable input[type="text"] {
        height: 30px;
        width: 100%; /* Ensures the input fits within the cell */
        box-sizing: border-box;
    }

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header, .modal-footer {
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
    border-top: none;
    text-align: right;
}

    .modal-footer button {
        margin-left: 10px;
    }

.alert-modal-content {
    max-width: 400px;
    text-align: center;
}

.btn-xs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
}

.btn-gray {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: white;
}

    .btn-gray:hover {
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }



